@import url(02-blocks.css);

:root {
    --bg-component: #1d201d;
    --bg-assemble: #262728;
    --bg-preview: #1e1e20;
    --bg-block-panel: #3E55FF;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

main {
    height: 100%;
    width: 100%;
}

h1 {
    color: azure;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.icon {
    width: 30px;
    height: 30px;
}

.main-container {
    height: 100%;
    width: 100%;
    display: flex;
}

.left-part {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.right-part {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.part {
    padding: 1%;
}

#component {
    height: 50%;
    width: 100%;
    background-color: var(--bg-component);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.component-content {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
}

#component .icon {
    position: absolute;
    top: 3%;
    right: 53%;
}

#assemble {
    height: 50%;
    width: 100%;
    background-color: var(--bg-assemble);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.board {
    width: 90%;
    min-height: 85%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    overflow-y: scroll;
    overflow-x: none;
    display: flex;
    flex-direction: column;
    padding: 5%;
    position: relative;
}

#preview {
    height: 100%;
    width: 100%;
    background-color: var(--bg-preview);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board-affich{
    height: 40%;
    width: 90%;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Categorie partie !*/

.categorie {
    width: 85%;
    height: 20%;
    background-color: #fff;
    border-radius: 5px;
    padding: 1%;
    gap: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.categorie-element {
    width: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.icon-categorie {
    height: 50%;
    width: 50%;
}
 
/* Block panel*/

.block-panel {
    height: 70%;
    width: 85%;
    margin-top: 3%;
    padding: 3%;
    background-color: var(--bg-block-panel);
    border-radius: 5px;
    position: relative;
    overflow-y: scroll;
    overflow-x: none;
}

.expand-arrow {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 92%;
    right: 8%;
}

<<<<<<< HEAD
.block-content{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
=======
/* Menu dev (fullscreen)*/
>>>>>>> ce456011994af2d322f31448dd22a69ede2ab614

.main-container.active {
    height: 100%;
    width: 100%;
}

.left-part.active {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#component.active {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
}

.component-content.active {
    display: flex;
    flex-direction: row;
}

.categorie.active {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.block-panel.active {
    height: 100%;
    width: 80%;
    margin: 0;
    margin-left: 2%;
}

.right-part.active {
    display: none;
}

#preview.active {
    display: none;
}

#assemble.active {
    height: 100%;
    width: 70%;
}

.board.active {
    min-height: 90%;
}

.expand-arrow.active {
    position: absolute;
    left: 85%;
    right: 25%;
}
