:root{
    --bg-component: #1d201d;
    --bg-assemble: #262728;
    --bg-preview: #1e1e20;
}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

main{
    height: 100%;
    width: 100%;
}

h1{
    color: azure;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.icon{
    width: 30px;
    height: 30px;
}

.main-container{
    height: 100%;
    width: 100%;
    display: flex;
}

.left-part{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.right-part{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.part{
    padding: 2%;
}

#component{
    height: 50%;
    width: 100%;
    background-color: var(--bg-component);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#component .icon{
    position: absolute;
    top: 3%;
    right: 53%;
}

#assemble{
    height: 50%;
    width: 100%;
    background-color: var(--bg-assemble);
    overflow-y: scroll;
    overflow-x: 0;
}

#assemble.part.active{
    height: 100%;
    width: 70%;
}

#preview{
    height: 100%;
    width: 100%;
    background-color: var(--bg-preview);
}

.categorie{
    width: 85%;
    height: 20%;
    background-color: #fff;
    border-radius: 5px;
    padding: 1%;
    gap: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.categorie-element{
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

